<%= @comment.content %> by <%= User.find(@comment.submitter_id).username %><br><br>

Reply to this comment:
<form action="<%= post_comments_url(params[:post_id]) %>" method="POST">
  <textarea name="comment[content]"></textarea><br>
  <input type="submit">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="comment[parent_comment_id]" value="<%= params[:id] %>">
</form>