<h1><%= @sub.title %></h1>
<% if current_user == @sub.moderator %>
	<%= link_to "Edit Your Sub", edit_sub_url(@sub) %><br>
<% end %>

<h3>Posts</h3>
<ul>
	<% @sub.posts.each do |post| %>
	  <li><%= link_to post.title, post %></li>
	<% end %>
</ul>

<p>
	<% if current_user == @sub.moderator %>
		<em>moderated by yourself</em>
	<% else %>
		<em>moderator: <%= @sub.moderator.username %></em>
	<% end %>
</p>

<br>

<%= link_to "Submit a New Post", new_post_url %><br>
<%= link_to "Back to SubReddits", subs_url %>

