<h1><%= @post.title %></h1>
<a href="http://<%= @post.url %>">
<%= @post.content %></a><br>
<em>submitted by <%= User.find(@post.user_id).username %></em>
<br><br>

<%= render "comment", parent_comment_id: nil, message: "What do you think?" %>

<h3>Comments on <%= @post.title %></h3>
<ul>
  <% comments_by_parent = @post.comments_by_parent %>
  <% comments_by_parent[nil].each do |parent_comment| %>
    <li>
    <%= comment_partial(parent_comment, comments_by_parent) %>
    </li>
  <% end %>
</ul>

<br>
<%= link_to "Back to Subs", subs_url%>